.dashboard-wrapper {
  section.account-summary {
    .card {
      .row {
        span.label {
          font-size: 13px;
          color: $light-gray;
          font-weight: 600;
          display: block;
          margin-bottom: 8px;
        }
        .value {
          font-size: 15px;
          font-weight: 600;
          color: $dark;
        }
      }
    }
  }
}
