$primary: #244987;
$dark: #515151;
$secondary: white;
$light: #ebecf1;
$heading-color: #515151;
$gray: #424242;
$light-gray: rgba($dark, 0.7);

$btn-border-radius: 10px;
$btn-padding-y: 7px;
$btn-padding-x: 20px;
$btn-font-weight: 600;
$btn-font-size: 13px;
$btn-border-radius: 0;

$card-border-width: 0;
$card-border-radius: 0;
$card-bg: white;

$input-border-radius: 0;

$form-check-input-border-radius: 0;


$dropdown-border-radius: 0;
$dropdown-color: black;


$pagination-bg: transparent;
$pagination-border-radius: 0;
$pagination-border-width: 0;



$alert-border-radius: 0;
$alert-padding-y: 10px;


$modal-content-border-radius: 0;
$modal-content-inner-border-radius: 0;


$form-switch-width: 2.5em;