@import "src/styles/variables";
@import "src/styles/mixins";

.sidebar-wrapper {
  background-color: white;
  padding-bottom: 30px;

  >.logo {
    padding: 30px;
    margin-bottom: 10px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  nav ul.nav {
    padding: 0 15px;

    li {
      margin-bottom: 5px;
      transition: all 0.5s ease;

      a {
        font-size: 15px;
        font-weight: 400;
        padding: 10px 15px;
        color: $light-gray;

        &.menu {
          display: flex;
          align-items: center;

          &.collapsed {
            img.down {
              transform: rotate(0);
            }
          }

          img.down {
            height: 17px;
            margin-left: auto;
            transform: rotate(180deg);
            transition: all 0.4s ease;
          }
        }

        img {
          height: 36px;


        }


        &.active {
          font-weight: 500;
          color: $primary;
          background-color: rgba($color: $primary, $alpha: 0.05);
        }
      }

      &.expanded~li {
        // height: 0;
        opacity: 0;

      }

      &.collapsable {
        >div ul {
          padding-left: 30px;
          padding-right: 0;

          a {
            transition: all 0.3s ease;

            &:hover {
              margin-left: 7px;
              color: $primary;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .sidebar-wrapper {
    >.logo>img {
      height: 60px;
      width: auto;
    }

    nav ul.nav {
      padding: 0 5px;
    }
  }
}